extends layout

block content

    if categories
        .row.justify-content-center.mt-3
            .col-lg-11.cocktailbg.cocktailshadow.text-center.pb-2.rounded
                h1.pt-2 Categroies
                .row.justify-content-around
                    - var count = 0
                    - for(let i = 0; i < 4; i++)
                        .col.py-1
                            - var size = Math.trunc(categories.length/4) + (categories.length%4 > i?1:0)
                            - for(let j = 0; j < size; j++)
                                a.dropdown-item(href="/searchedCocktailsCategory/"+categories[j + count].strCategory.replace(/\//gm, "_"))= categories[j + count].strCategory
                            - count += size