extends layout

block content

    if cocktail
        .row.justify-content-center.mt-3
            .col-lg-11.cocktailbg.cocktailshadow.text-center.pb-2.rounded
                h1.pt-2= cocktail[0].strDrink
                p= '"' + cocktail[0].strCategory + '"'
                h2.pt-2 Ingredients
                - for (var i = 1; i<=15; i++)
                    if cocktail[0]['strIngredient' + i]
                        p= cocktail[0]['strIngredient' + i]
                h2.pt-2 Instructions
                p= cocktail[0].strInstructions
                img(src=cocktail[0].strDrinkThumb alt=cocktail[0].strDrink).img-fluid.rounded.pb-4