extends layout

block content
    script.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                var lon = pos.coords.longitude
                var lat = pos.coords.latitude

                var request = new XMLHttpRequest()
                request.addEventListener('load', function (status) {
                    document.getElementById('weatherContent').innerHTML = request.response
                });
                request.open('GET', '/query?lon=' + lon + '&lat=' + lat)
                request.send()
            }, function (error) {
                console.log(error)
            });
        }
    .container
        section#cocktail
        .row.justify-content-around.mt-3
            .col-lg-11.cocktailshadow.cocktailbg.rounded
                h1.text-center.pt-3 CocktailsZone
                p.pt-3 You don't know which cocktail to make yourself today, or are you looking for nice ideas? Then CocktailsZone is the right place for you.
                p Do you want a cocktail with your favorite ingredient? Then simply select them and you will be shown cocktails with your ingredient.
                p Or are you looking for a certain type of drink? Then simply select these too and enjoy the rich selection of cocktails.
        #weatherContent.row.justify-content-center
        .row.justify-content-around
            .col-lg-11.cocktailshadow.cocktailbg.mt-3.rounded
                h2.text-center.mt-3 Here are 3 random Cocktails for you
                .row.justify-content-around.mb-3
                    if startingPage
                        each item in startingPage
                            .col-lg-3.my-3.text-center.border-0.rounded.cocktailshadow.primaryButton
                                h3.pt-2= item.strDrink
                                a(href="/cocktail/" + item.idDrink)
                                    img(src=item.strDrinkThumb alt=item.strDrink).img-fluid.rounded.pb-4

    nav.navbar.navbar-expand-lg.navbar-light.cocktailbg.cocktailshadow.rounded.mt-3.text-center
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='#' data-toggle='modal' data-target='#Impressum') Impressum
                li.nav-item
                    a.nav-link(href='#' data-toggle='modal' data-target='#Privacy') Privacy