extends layout

block content
    if ingredients
        .row.justify-content-center.mt-3
            .col-lg-11.cocktailshadow.cocktailbg.text-center.pb-2.rounded
                h1.pt-2 Ingredients
                .row.justify-content-around
                    - var count = 0
                    - for(let i = 0; i < 4; i++)
                        .col.py-1
                            - var size = Math.trunc(ingredients.length/4) + (ingredients.length%4 > i?1:0)
                            - for(let j = 0; j < size; j++)
                                a.dropdown-item(href="/searchedIngredient/"+ingredients[j + count].strIngredient1)= ingredients[j + count].strIngredient1
                            - count += size