doctype html
html(lang="en")
    head
        title CocktailsZone by Jonas
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        //Privacy
        #Privacy.modal.fade(tabindex='-1' aria-labelledby='privacyModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        p#privacyModalLabel.modal-title Privacy
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        p This website asks for your geolocation
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close

        // Impressum
        #Impressum.modal.fade(tabindex='-1' aria-labelledby='impressumModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        p#impressumModalLabel.modal-title Impressum
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        p From §5 TMG
                        br
                        p Jonas Geller
                        p Bergstraße 26
                        p 35444 Biebertal
                        p Tel:
                            a(href='tel:+49017673534019') +49 176 73534019
                        p E-Mail:
                            a(href='mailto:jonas.geller@mni.thm.de') jonas.geller@mni.thm.de
                        br
                        p Student at Technischen Hochschule Mittelhessen, Bachelor of Science Informatik
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
        .container
            section#navbar
            .row
                .col
                    nav.navbar.navbar-expand-lg.navbar-light.cocktailshadow.rounded
                        a.navbar-brand(href='/').secondaryButton.rounded.p-2 CocktailsZone
                        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarSupportedContent.collapse.navbar-collapse
                            ul.navbar-nav.mr-auto
                                li.nav-item.secondaryButton.rounded.m-1
                                    a.nav-link(href='/ingredients') Ingredients
                                li.nav-item.secondaryButton.rounded.m-1
                                    a.nav-link(href='/categories') Categories
                                li.nav-item.dropdown.secondaryButton.rounded.m-1
                                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        | Alcoholic Filters
                                    .dropdown-menu(aria-labelledby='navbarDropdown')
                                        if alcfilters
                                            each item in alcfilters
                                                a.dropdown-item(href="/searchedCocktailsAlcohol/"+item.strAlcoholic)= item.strAlcoholic
            block content
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
        script.
            $(document).on('click', '.dropdown-menu', function (e) {
                e.stopPropagation();
            });