extends layout

block content

    if ingredient
        .row.justify-content-center.mt-3
            .col-lg-10.cocktailbg.cocktailshadow.text-center.py-3.rounded
                form(action="/searchedCocktails/"+ingredient[0].strIngredient)
                    button(type="submit" href="/searchedCocktails/"+ingredient[0].strIngredient).btn.btn-success.btn-lg.btn-block= "Search Cocktails with " + ingredient[0].strIngredient
        .row.justify-content-center.mt-3
            .col-lg-10.cocktailshadow.cocktailbg.rounded
                h1.text-center.pt-2= ingredient[0].strIngredient
                h2.pt-2 Description:
                if ingredient[0].strDescription
                    p= ingredient[0].strDescription
                else
                    p No description found.