extends layout

block content

    if cocktails
        .row.justify-content-center.mt-3
            .col-lg-11.cocktailshadow.text-center.pb-2.rounded.cocktailbg
                h1.mt-3 Your Cocktails
                .row.justify-content-around
                    - var count = 0
                    - for(let i = 0; i < 2; i++)
                        .col.py-1
                            - var size = Math.trunc(cocktails.length/2) + (cocktails.length%2 > i?1:0)
                            - for(let j = 0; j < size; j++)
                                h2.mt-3= cocktails[j + count].strDrink
                                a(href="/cocktail/"+cocktails[j + count].idDrink)
                                    img(src=cocktails[j + count].strDrinkThumb alt=cocktails[j + count].idDrink).img-fluid.rounded.p-4.primaryButton.mb-2
                            - count += size