.col-lg-11.cocktailbg.cocktailshadow.mt-3.rounded
    h2.text-center.mt-3 The Weather:
    .row.justify-content-around.my-3
        .col-lg-3.cocktailshadow.cocktailbg.rounded.text-center
            h3.mt-3 Current
            img(src="/images/"+data[0][0]+".png" alt=data[0][1]).customImg.rounded
            p= data[0][1] + " - " + data[0][2]
        .col-lg-3.cocktailshadow.cocktailbg.rounded.text-center
            h3.mt-3 In 2 hours
            img(src="/images/"+data[2][0]+".png" alt=data[2][1]).customImg.rounded
            p= data[2][1] + " - " + data[2][2]
        .col-lg-3.cocktailshadow.cocktailbg.rounded.text-center
            h3.mt-3 In 5 hours
            img(src="/images/"+data[5][0]+".png" alt=data[5][1]+"_"+data[5][3]).customImg.rounded
            p= data[5][1] + " - " + data[5][2]