:root {
  --primary: #94f3af;
  --primary-variant: #6eeb95;
  --primary-light: #baf9cb;

  --secondary: #f08cd7;
  --secondary-variant: #e35cc3;
  --secondary-light: #f9bae8;

  --background: #ffffff;
  --surface: #ffffff;
  --error: #b00020;

  --on-primary: #212529;
  --on-secondary: #ffffff;
  --on-background: #212529;
  --on-surface: #212529;
  --on-error: #ffffff;
}

.primaryButton {
  background-color: var(--primary);
  color: var(--on-primary);
}

.primaryButton:hover {
  background-color: var(--primary-light);
  color: var(--on-primary);
}

.primaryButton:active {
  background-color: var(--primary-variant);
  color: var(--on-primary);
}

.primaryButton:focus {
  background-color: var(--primary);
  color: var(--on-primary);
  box-shadow: 0 0 0 0.4rem var(--primary-light);
}
.secondaryButton {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.secondaryButton:hover {
  background-color: var(--secondary-light);
  color: var(--on-secondary);
}

.secondaryButton:active {
  background-color: var(--secondary-variant);
  color: var(--on-secondary);
}

.secondaryButton:focus {
  background-color: var(--secondary);
  color: var(--on-secondary);
  box-shadow: 0 0 0 0.4rem var(--secondary-light);
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--background)!important;
}

.cocktailshadow {
  box-shadow: 6px 6px 20px 3px rgba(191,176,181,1);
  border: none;
}

.cocktailbg {
  background-color: var(--surface)!important;
}

a {
  color: #00B7FF;
}

.customImg {
  width: 50%;
}
